extends ../base.pug

block variables
  - var template = 'home'

block content
  main
    .home--wrapper
      .home--picture
        img.home__img(src='./shared/images/home_front_page.jpg' alt='picture')
      .home--needAdvice
        h2.home--secondaryTitle= 'Besoin de conseils ?'
        ul.home--needAdviceList
          li.home--needAdviceElement
            .home--needAdviceImgWrapper
              img.home--needAdviceImg(src='' alt='')
            .home--needAdviceContent
              p.home--needAdviceTag= 'Conseils'
              p.home--needAdviceTitle= 'Comment prendre soin de ses plantes'
          li.home--needAdviceElement
            .home--needAdviceImgWrapper
              img.home--needAdviceImg(src='' alt='')
            .home--needAdviceContent
              p.home--needAdviceTag= 'Conseils'
              p.home--needAdviceTitle= 'Comment prendre soin de ses plantes'
          li.home--needAdviceElement
            .home--needAdviceImgWrapper
              img.home--needAdviceImg(src='' alt='')
            .home--needAdviceContent
              p.home--needAdviceTag= 'Conseils'
              p.home--needAdviceTitle= 'Comment prendre soin de ses plantes'
      .home--newsletter
        .home--newsletterInputWrapper
          h3.home--newsletterTitle= 'Abonnez-vous à nos news et profitez de 10% offerts !'
          h3.home--newsletterTitle= 'On est comme ça, on est sympa !'
        form.home--newsletterForm(action='' method='post')
          input.home--newsletterInput(type='email' placeholder='Votre Email...' name='email')
          button.home--newsletterButton(type='submit')= 'Ok'
      .home--ourEngagement
        h2.home--secondaryTitle= 'Notre engagement'
        ul.home--ourEngagementList
          li.home--engagementElement
            .home--engagementImg
              img(src='' alt='')
            .home--engagementText
              p.home--engagementTitle= 'Lorem Ipsum'
              p.home--engagementDescription= 'Lorem Ipsum'
          li.home--engagementElement
            .home--engagementImg
              img(src='' alt='')
            .home--engagementText
              p.home--engagementTitle= 'Lorem Ipsum'
              p.home--engagementDescription= 'Lorem Ipsum'
          li.home--engagementElement
            .home--engagementImg
              img(src='' alt='')
            .home--engagementText
              p.home--engagementTitle= 'Lorem Ipsum'
              p.home--engagementDescription= 'Lorem Ipsum'
          li.home--engagementElement
            .home--engagementImg
              img(src='' alt='')
            .home--engagementText
              p.home--engagementTitle= 'Lorem Ipsum'
              p.home--engagementDescription= 'Lorem Ipsum'